# Ignore Mac system files
*.DS_store

# Ignore all files related to API keys
*.env

#Ignore all history
*.history

#Ignore all secret
secrets.toml

#Ignore upload db
upload_db.py

#Ignore pycache
__pycache__
*.pyc